<%- include('layout/header') %>
<%- include('layout/nav') %>
    <p>ini adalah contact</p>
    <table border="1">
        <thead>
            <tr>
                <th>name</th>
                <th>mobile</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <% cont.forEach(contact=> { %>
               <tr>
                <td> <%= contact.name%> </td>
                <td> <%= contact.mobile%> </td>
                <td> <%= contact.email %></td>
            </tr> 
            <% }) %>           
        </tbody>
    </table>   
<%- include('layout/footer') %>